
/**
 * GLORilla.com, for Drupal 5.x
 * theming: Vadim Barsukov, vad [dot] bars [at] FireflyStream [dot] com
 *
 */

A:link {
	COLOR: #135cae
}
A:visited {
	COLOR: #135cae
}
A:hover {
	COLOR: #0b3768
}
#pillmenu A:hover {
	COLOR: #135cae
}
li a.active{
/*        BACKGROUND: url(/sites/all/themes/glorillacomtheme/images/blue/mw_menu_active_bg.png) repeat-x; 
*/
}

#pillmenu A#active_menu-nav {
	BACKGROUND: url(/sites/all/themes/glorillacomtheme/images/blue/mw_menu_active_bg.png) repeat-x; COLOR: #135cae
}
#pillmenu A#active_menu-nav:hover {
	COLOR: #fff
}
H3 {
	COLOR: #135cae
}
.componentheading {
	COLOR: #135cae
}
TABLE.moduletable TH {
	COLOR: #135cae
}
DIV.module_menu {
	BACKGROUND: url(../images/blue/mw_box_br.png) no-repeat 100% 100%
}
DIV.module_menu DIV {
	BACKGROUND: url(../images/blue/mw_box_bl.png) no-repeat 0px 100%
}
DIV.module_menu DIV DIV {
	BACKGROUND: url(../images/blue/mw_box_tr.png) no-repeat 100% 0px
}
DIV.module_menu DIV DIV DIV {
	BACKGROUND: url(../images/blue/mw_box_tl.png) no-repeat 0px 0px
}
