
/**
 * GLORilla.com, for Drupal 5.x
 * theming: Vadim Barsukov, vad [dot] bars [at] FireflyStream [dot] com
 *
 */

HTML {
	MARGIN-BOTTOM: 1px; HEIGHT: 100%
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #333; LINE-HEIGHT: 1.3em; FONT-FAMILY: Helvetica,Arial,sans-serif; BACKGROUND: url(http://www.glorilla.com/pix/1p.gif) norepeat;

}
A:link {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; TEXT-DECORATION: underline
}
INPUT.button {
	CURSOR: pointer
}
P {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 5px
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
#page_bg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; MARGIN-BOTTOM: 1px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
DIV.center {
	TEXT-ALIGN: center
}
DIV#wrapper {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
BODY.width_medium DIV#wrapper {
	WIDTH: 950px
}
BODY.width_small DIV#wrapper {
	WIDTH: 773px
}
BODY.width_fmax DIV#wrapper {
	max-width: 1050px; min-width: 750px
}
DIV#header_l {
	POSITION: relative
}
DIV#header_r {
	PADDING-RIGHT: 30px; PADDING-LEFT: 370px; OVERFLOW: hidden; PADDING-TOP: 25px; HEIGHT: 90px; TEXT-ALIGN: left
}
DIV#logo {
	MARGIN-TOP: 25px; LEFT: 0px; FLOAT: left; MARGIN-LEFT: 30px; WIDTH: 298px; POSITION: absolute; TOP: 0px; HEIGHT: 75px
}
DIV#newsflash {
	BORDER-RIGHT: #00f 1px solid; BORDER-TOP: #00f 1px solid; MARGIN-LEFT: 350px; BORDER-LEFT: #00f 1px solid; WIDTH: auto; MARGIN-RIGHT: 30px; BORDER-BOTTOM: #00f 1px solid
}
DIV#tabarea {
	BACKGROUND: url(../images/mw_header_b.png) #f7f7f7 repeat-x 0px 0px; MARGIN: 0px 11px;
}
DIV#tabarea_l {
	PADDING-LEFT: 32px; BACKGROUND: url(../images/mw_header_l_b.png) no-repeat 0px 0px
}
DIV#tabarea_r {
	PADDING-RIGHT: 1px; BACKGROUND: url(../images/mw_header_r_b.png) no-repeat 100% 0px; HEIGHT: 42px;
}

DIV#footer_r {
	OVERFLOW: hidden; PADDING-TOP: 10px; HEIGHT: 47px
}
DIV#footer_r DIV {
	FONT-SIZE: 0.9em; COLOR: #aaa; TEXT-ALIGN: center
}
DIV#footer_r A:link {
	COLOR: #999
}
DIV#footer_r A:visited {
	COLOR: #999
}
DIV#footerspacer {
	HEIGHT: 10px
}
#pathway {	
        PADDING-RIGHT: 10px; MARGIN-TOP: -2px; PADDING-LEFT: 10px; PADDING-BOTTOM: 8px; WIDTH: auto; MARGIN-RIGHT: 250px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
#search {
	MARGIN-TOP: -21px; FLOAT: right;  WIDTH: 320px; MARGIN-RIGHT: 30px; HEIGHT: 42px; TEXT-ALIGN: right; 
}
FORM#searchForm INPUT {
	VERTICAL-ALIGN: middle
}
FORM#searchForm TABLE {
	BORDER-COLLAPSE: collapse
}
FORM#searchForm TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#mod_search_searchword {
	PADDING-LEFT: 3px
}
#area {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#whitebox {
	BACKGROUND: #fff; MARGIN: 0px 21px; WIDTH: auto
}
#whitebox DIV {
	TEXT-ALIGN: left
}
#whitebox_t {
	BACKGROUND: url(../images/mw_content_t.png) #fff repeat-x 0px 0px
}
#whitebox_tl {
	BACKGROUND: url(../images/mw_content_t_l.png) no-repeat 0px 0px
}
#whitebox_tr {
	BACKGROUND: url(../images/mw_content_t_r.png) no-repeat 100% 0px; OVERFLOW: hidden; HEIGHT: 10px
}
#whitebox_m {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; WIDTH: auto; PADDING-TOP: 1px
}
#whitebox_b {
	MARGIN-TOP: -5px; BACKGROUND: url(../images/mw_content_b.png) repeat-x 0px 100%
}
#whitebox_bl {
	BACKGROUND: url(../images/mw_content_b_l.png) no-repeat 0px 100%
}
#whitebox_br {
	BACKGROUND: url(../images/mw_content_b_r.png) no-repeat 100% 100%; HEIGHT: 13px
}
TABLE.pill {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: auto; MARGIN-RIGHT: auto; PADDING-TOP: 0px
}
TD.pill_l {
	BACKGROUND: url(../images/mw_menu_cap_l.png) no-repeat; WIDTH: 20px; HEIGHT: 32px
}
TD.pill_m {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/mw_menu_normal_bg.png) repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TD.pill_r {
	BACKGROUND: url(../images/mw_menu_cap_r.png) no-repeat; WIDTH: 19px; HEIGHT: 32px
}
#pillmenu {
	FLOAT: left; WHITE-SPACE: nowrap; HEIGHT: 32px
}
#pillmenu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#pillmenu LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/mw_menu_separator.png) no-repeat right top; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#pillmenu A {
	PADDING-RIGHT: 20px; DISPLAY: block; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #000; LINE-HEIGHT: 24px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; TEXT-DECORATION: none
}
#pillmenu A#active_menu-nav {
	BACKGROUND-POSITION: 0px 0px; MARGIN-TOP: 2px; LINE-HEIGHT: 21px; HEIGHT: 21px
}
#leftcolumn {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 20%; PADDING-TOP: 0px
}
#maincolumn {
	PADDING-LEFT: 10px; MARGIN-LEFT: 20%; WIDTH: 75%
}
#maincolumn_full {
	PADDING-LEFT: 15px; MARGIN-LEFT: 20%; WIDTH: 75%
}
#maincolumn_full {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; WIDTH: 100%; PADDING-TOP: 0px
}
TABLE.nopad {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; WIDTH: 100%; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse
}
TABLE.nopad TD.middle_pad {
	WIDTH: 20px
}
DIV.offline {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 1.2em; BACKGROUND: #fffebb; LEFT: 0px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; POSITION: absolute; TOP: 0px
}
SPAN.pathway {
	DISPLAY: block; MARGIN: 0px 0px 5px 20px; OVERFLOW: hidden; LINE-HEIGHT: 16px; HEIGHT: 16px
}
DIV.componentheading {
	PADDING-LEFT: 0px
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.3em; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; COLOR: #666; PADDING-TOP: 0px; FONT-FAMILY: Helvetica,Arial,sans-serif; TEXT-ALIGN: left
}
H2 {
        FONT-SIZE: 1.4em;
}
.contentheading {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1.4em; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: bottom; WIDTH: 100%; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica,sans-serif; TEXT-ALIGN: left
}
TABLE.contentpaneopen H3 {
	MARGIN-TOP: 25px
}
H4 {
	COLOR: #333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0px 0px 10px; FONT-FAMILY: Helvetica,Arial,sans-serif; TEXT-ALIGN: left
}
.componentheading {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0px 0px 10px; FONT-FAMILY: Helvetica,Arial,sans-serif; TEXT-ALIGN: left
}
TABLE.moduletable TH {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0px 0px 10px; FONT-FAMILY: Helvetica,Arial,sans-serif; TEXT-ALIGN: left
}
LEGEND {
	PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 1.5em; MARGIN: 0px 0px 10px; FONT-FAMILY: Helvetica,Arial,sans-serif; TEXT-ALIGN: left
}
.small {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; COLOR: #999; TEXT-ALIGN: left; margin: .5em 0 .5em 0;
}
.modifydate {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; VERTICAL-ALIGN: bottom; COLOR: #999; HEIGHT: 20px; TEXT-ALIGN: left
}
.createdate {
	FONT-WEIGHT: normal; FONT-SIZE: 0.9em; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; COLOR: #999; PADDING-TOP: 0px; HEIGHT: 20px
}
A.readon {
	PADDING-RIGHT: 20px; MARGIN-TOP: 10px; DISPLAY: block; BACKGROUND: url(../images/mw_readon.png) no-repeat right top; FLOAT: left; LINE-HEIGHT: 14px; HEIGHT: 16px
}
.invalid {
	BORDER-LEFT-COLOR: #ff0000; BORDER-BOTTOM-COLOR: #ff0000; BORDER-TOP-COLOR: #ff0000; BORDER-RIGHT-COLOR: #ff0000
}
LABEL.invalid {
	COLOR: #ff0000
}
.ol-foreground {
	BACKGROUND-COLOR: #f6f6f6
}
.ol-background {
	BACKGROUND-COLOR: #666
}
.ol-textfont {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ol-captionfont {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f6f6f6; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.ol-captionfont A {
	FONT-SIZE: 12px; COLOR: #0b55c4; TEXT-DECORATION: none
}
.ol-closefont {
	
}
A.mainlevel:link {
	PADDING-LEFT: 5px
}
A.mainlevel:visited {
	PADDING-LEFT: 5px
}
A.mainlevel:hover {
	
}
SPAN.article_separator {
	DISPLAY: block; HEIGHT: 20px
}
.article_column {
	PADDING-RIGHT: 5px
}
.column_separator {
	PADDING-LEFT: 10px; BORDER-LEFT: #e0e0e0 1px dashed
}
TD.buttonheading {
        VERTICAL-ALIGN: middle; 	
}
TD.buttonheading IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.clr {
	CLEAR: both
}
TD.greyline {
	BACKGROUND: url(../images/mw_line_grey.png) repeat-y 50% 0px; WIDTH: 20px
}
DIV#maindivider {
	BORDER-TOP: #ddd 1px solid; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; HEIGHT: 1px
}
TABLE.blog SPAN.article_separator {
	DISPLAY: block; HEIGHT: 20px
}
.contentpaneopen_edit {
	FLOAT: left
}
TABLE.contenttoc {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid
}
TABLE.contenttoc TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
TD.sectiontableheader {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-WEIGHT: bold; BACKGROUND: #efefef; PADDING-BOTTOM: 4px; COLOR: #333; PADDING-TOP: 4px
}
TR.sectiontableentry0 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TR.sectiontableentry1 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TR.sectiontableentry2 TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
TD.sectiontableentry0 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TD.sectiontableentry1 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TD.sectiontableentry2 {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
TABLE.contentpaneopen {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.contentpane {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: auto; PADDING-TOP: 0px
}
TABLE.contentpaneopen LI {
	MARGIN-BOTTOM: 5px
}
TABLE.contentpaneopen FIELDSET {
	BORDER-TOP: #ddd 1px solid; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TABLE.contentpaneopen H3 {
	MARGIN-TOP: 25px
}
TABLE.contentpaneopen H4 {
	COLOR: #333; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.highlight {
	BACKGROUND-COLOR: #fffebb
}
TABLE.user1user2 DIV.moduletable {
	MARGIN-BOTTOM: 0px
}
DIV.moduletable {
	MARGIN-BOTTOM: 25px
}
DIV.module {
	MARGIN-BOTTOM: 25px
}
DIV.module_menu H3 {
	PADDING-TOP: 5px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 1px; MARGIN: 0px -15px -22px 8px; COLOR: #eee; FONT-FAMILY: Helvetica, Arial, sans-serif
}
DIV.module_menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 15px; PADDING-TOP: 0px
}
DIV.module_menu DIV DIV DIV {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 15px; WIDTH: auto; PADDING-TOP: 30px
}
DIV.module_menu DIV DIV DIV DIV {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.module_menu UL {
	PADDING-LEFT: 20px; MARGIN: 10px 0px
}
DIV.module_menu UL LI A:link {
	FONT-WEIGHT: bold
}
DIV.module_menu UL LI A:visited {
	FONT-WEIGHT: bold
}
#leftcolumn DIV.module {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#leftcolumn DIV.module TABLE {
	WIDTH: auto
}
TABLE.adminform TEXTAREA {
	FONT-SIZE: 1em; WIDTH: 540px; COLOR: #000099; HEIGHT: 400px
}
DIV.search INPUT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; MARGIN: 15px 0px 0px; BORDER-LEFT: #ccc 1px solid; WIDTH: 145px; BORDER-BOTTOM: #ccc 1px solid
}
FORM#form-login FIELDSET {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0.2em; BORDER-TOP: 0px; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0em; BORDER-LEFT: 0px; PADDING-TOP: 0.2em; BORDER-BOTTOM: 0px
}
FORM#form-login UL {
	PADDING-LEFT: 20px
}
DIV.mosimage {
	MARGIN: 5px
}
DIV.mosimage_caption {
	FONT-SIZE: 0.9em; COLOR: #666
}
DIV.caption {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
DIV.caption IMG {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
DIV.caption P {
	FONT-SIZE: 0.9em; COLOR: #666; TEXT-ALIGN: center
}
TABLE.paramlist {
	MARGIN-TOP: 5px
}
TABLE.paramlist TD.paramlist_key {
	WIDTH: 128px; HEIGHT: 30px; TEXT-ALIGN: left
}
TABLE.paramlist TD.paramlist_value {
	
}
DIV.message {
	BORDER-RIGHT: #d5d5d5 1px solid; PADDING-RIGHT: 20px; BORDER-TOP: #d5d5d5 1px solid; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 3px; MARGIN: 3px 0px 10px; BORDER-LEFT: #d5d5d5 1px solid; WIDTH: auto; COLOR: #c30; PADDING-TOP: 3px; BORDER-BOTTOM: #d5d5d5 1px solid; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f9f9f9; TEXT-ALIGN: center
}
.bannergroup {
	
}
.banneritem IMG {
	DISPLAY: block; MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.banneritem_text {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.bannerfooter_text {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 11px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #f7f7f7; TEXT-ALIGN: right
}
.pagination SPAN {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.pagination A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.pollstableborder TD {
	TEXT-ALIGN: left
}
SPAN.description {
	DISPLAY: block; PADDING-LEFT: 30px
}
FIELDSET {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #ccc 1px solid; MARGIN-TOP: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 15px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #ccc 1px solid
}
LEGEND {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TD.key {
	COLOR: #666; BORDER-BOTTOM: #eee 1px solid
}
.tool-tip {
	BORDER-RIGHT: #d4d5aa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d4d5aa 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffc; FLOAT: left; PADDING-BOTTOM: 5px; BORDER-LEFT: #d4d5aa 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d4d5aa 1px solid; max-width: 200px
}
.tool-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 100%; BACKGROUND: url(../../system/images/selector-arrow.png) no-repeat; PADDING-BOTTOM: 5px; MARGIN: -15px 0px 0px; PADDING-TOP: 15px
}
.tool-text {
	FONT-SIZE: 100%; MARGIN: 0px
}
#system-message {
	MARGIN-BOTTOM: 20px
}
#system-message DD.message UL {
	BACKGROUND: url(../../system/images/notice-info.png) #c3d2e5 no-repeat 4px center
}
#system-message DD.error UL {
	BORDER-TOP: #de7a7b 3px solid; PADDING-LEFT: 40px; BACKGROUND: url(../../system/images/notice-alert.png) #e6c0c0 no-repeat 4px center; MARGIN: 0px; COLOR: #c00; TEXT-INDENT: 0px; BORDER-BOTTOM: #de7a7b 3px solid
}
#system-message DD.notice UL {
	BORDER-TOP: #f0dc7e 3px solid; BACKGROUND: url(../../system/images/notice-note.png) #efe7b8 no-repeat 4px center; COLOR: #c00; BORDER-BOTTOM: #f0dc7e 3px solid
}
#syndicate {
	PADDING-LEFT: 25px; FLOAT: left
}
#power_by {
	PADDING-RIGHT: 25px; FLOAT: right
}
#component-contact TABLE TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
table {
        border-collapse: separate;
}
ul.menu {
        list-style: disc;
}
table.nopad {
        border-collapse: separate; 
}
div.block h2{
        color: #135CAE;
        font-family:Helvetica,Arial,sans-serif;
        font-size:1.5em;
        font-weight:bold;
        margin:0px 0px 10px;
        padding-left:0px;
        text-align:left;
}
.messages, .preview {
        margin: .75em 0 .75em;
        padding: .5em 1em;
}
.messages ul {
        margin: 0;
}
.messages {
        background-color: #fff;
        border: 1px solid #b8d3e5;
}
#search #edit-submit {
        display: none;
}
#search input {
        border:1px solid #CCCCCC;
        margin:15px 0pt 10px;
        width:145px;
        height: 15px;
}
.breadcrumbs {
        float: left;
        margin-bottom: 0px;
        margin-left: 35px;
}
li.leaf {
        list-style-image:url(../../misc/menu-leaf.png);
        list-style-type:disc;
}
.block{
        margin-bottom: 15px;
}
.node {
        margin: 0px 0 30px 0;
}
.container{
        padding: 20px;
}

tr.odd, tr.info {
/*  background-color: #edf5fa; */
}

tr.even {
        background-color: #fff;
}

tr.odd td.active {
        padding: 20px;
}

tr.even td.active {
        padding: 20px;
}

